.note
{
    text-align: center;
    background: -webkit-linear-gradient(left, #3a4d63, #7f608f);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
    width: 900px;
    margin-left: 190px;
}
img{
   height: 100%;
   opacity: .8;
   width: 100%;
}
