<div class="note">
    <p>Employee List</p>
</div>



<div class="form-content">
    <div class="search">
        <input class="nosubmit" type="search" name="search" [(ngModel)]="searchtext" placeholder="Search">        
    </div>
    <div class="tbl">
        <table>
            <tr >
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Salary</th>
                <th>City</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let  users of item | filter:searchtext">
                <td>{{users.id}}</td>
                <td>{{users.name}}</td>
                <td>{{users.gender}}</td>
                <td>{{users.age}}</td>
                <td>{{users.salary}}</td>
                <td>{{users.city}}</td>
                <td><button  type="button" class="btn btn-outline-success" routerLink="/editemp" (click)="getData(users)" >Edit</button></td>
                <td><button  type="button" class="btn btn-outline-danger" (click)="onDelete(users.id)">Delete</button></td>

            </tr>
          
        </table>
    </div>
</div>
